/* Corpo da página - Fundo e características gerais */
body {

    /* Remoção da margem padrão */
    margin: 0;

    /* Fundos: */
        /* Gradiente (meio) */
    background: linear-gradient(180deg, #0A174400 0%, #0A1744 100%) no-repeat,
        /* Imagem (topo, por baixo do gradiente) */
        url(imagens/about-hero-bg.jpg) no-repeat,
        /* Cor (página inteira) */
        #0A1744;
    /* Tamanho e posição do gradiente e imagem */
    background-size:  100vw 36vw, contain;
    background-position:  0% 18vw, 0% -2vw;

    /* Padrão de texto (fonte e cor) */
    color: #FCFCFC;
    font-family: 'Rubik', Arial, sans-serif;
}


/* Topo da página */
.header {

    /* Fixação ao topo da página */
    position: fixed;
    top: 0;

    /* Tamanho */
    width: 94vw;
    height: 6vw;
    min-height: 82px;

    /* Cor, sombra e efeito */
    background-color: #0a1744ad;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    box-shadow: 0px 3px 29px #5538EE1F;

    /* Disposição dos elementos do bloco */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3vw 0 3vw;
}


/* Logo */
.header__logo {

    /* Tamanho */
    height: 2.5vw;
    min-height: 23px;
}


/* Conjunto de botões de navegação */
.header__navigation {

    /* Disposição dos elementos */
    display: flex;
    justify-content: space-between;
    margin-right: 18px;

    /* Tamanho (relevante para o espaçamento dos botões) */
    width: 19vw;
    min-width: 225px;
}


/* Botão */
.button {

    /* Tamanho */
    width: 8.5vw;
    min-width: 106px;
    height: 2.5vw;
    min-height: 30px;

    /* Borda */
    border: none;
    /* Valor absoluto muito alto para arredondar 50% da altura */
    border-radius: 9999px;

    /* Texto */
    font-family: 'Rubik', Arial, sans-serif;
    font-weight: bold;
    font-size: 10px;
    letter-spacing: .15em;

    /* Cursor */
    cursor: pointer;

    /* Transição de cor (cores especificadas por tema) */
    transition: background-color ease-out .4s;
}
/* Texto - Ajuste de responsividade */
@media only screen and (min-width: 1200px) {
    .button {
        font-size: .85vw;
    }
}


/* Ícone de botâo */
.button__icon {

    /* Ajuste de posição */
    position: relative;
    top: 2px;

    /* Tamanho */
    height: .75vw;
    min-height: 10px;

    /* Distância do texto */
    margin-right: .5em;
}


/* Tema claro para botões */
.button_theme_light {
    background-color: #72EFDB;
    color: #0B1741;
}
.button_theme_light:hover {
    background-color: #b3fff4;
}
/* Tema escuro para botões */
.button_theme_dark {
    background-color: #1E3E7B;
    color: #FFFFFF;
}
.button_theme_dark:hover {
    background-color: #32589c;
}