/* Paleta de cores */
:root {
    --theme-fundo: #0A1744;
    --theme-texto: #FCFCFC;
    --theme-light: #72EFDB;
    --theme-light-glow: #B3FFF4;
    --theme-neutral: #1E3E7B;
    --theme-neutral-glow: #32589C;
    --theme-shadow: #5538EE1F;
}


/* Corpo da página - Fundo e características gerais */
body {

    /* Remoção da margem padrão */
    margin: 0;

    /* Forçar o body a cobrir a tela */
    min-height: 100vh;
    min-width: 100%;

    /* Fundos: */
        /* Gradiente (meio) */
    background: linear-gradient(180deg, transparent 0%, var(--theme-fundo) 100%) no-repeat,
        /* Imagem (topo, por baixo do gradiente) */
        url(../../imagens/hero-bg.jpg) no-repeat,
        /* Cor (página inteira) */
        var(--theme-fundo);
    /* Tamanho e posição do gradiente e imagem */
    background-size: 100vw 100px, 1920px;
    background-position: 0% 980px, 62% 0%;

    /* Padrão de texto (fonte e cor) */
    color: var(--theme-texto);
    font-family: 'Rubik', Arial, sans-serif;
}
/* Ajuste de responsividade */
@media only screen and (min-width: 1200px) {
    body {
        /* Fundos: */
        background-size: 100vw 36vw, 100vw;
        background-position: 0% 21vw, 0% 0%;
    }
}


/* Barra de scroll */
body::-webkit-scrollbar {
    /* Largura */
    width: 1em;
}
body::-webkit-scrollbar-track {
    /* Fundo */
    background-color: var(--theme-neutral);
}
body::-webkit-scrollbar-thumb {
    /* Guia */
    background-color: var(--theme-fundo);
}


/* ----------------------- BLOCO HEADER ----------------------- */

/* Topo da página */
.header {

    /* Fixação ao topo da página */
    position: fixed;
    top: 0;
    z-index: 1;

    /* Tamanho */
    width: 94vw;
    height: 6vw;
    min-height: 82px;

    /* Sombra e efeito */
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    box-shadow: 0px 3px 29px var(--theme-shadow);

    /* Disposição dos elementos do bloco */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3.8vw 0;
}
/* Ajuste de responsividade */
@media only screen and (min-width: 1200px) {
    .header {
        padding: 0 3vw 0;
    }
}
/* Fundo */
.header::before {
    /* Cobrir todo o fundo do bloco header */
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* Cor de fundo com transparência */
    background-color: var(--theme-fundo);
    opacity: .7;
}


/* Logo */
.header__logo {

    /* Tamanho */
    height: 2.5vw;
    min-height: 23px;
}


/* Conjunto de botões de navegação */
.header__navigation {

    /* Disposição dos elementos */
    display: flex;
    justify-content: space-between;
    margin-right: .1vw;

    /* Tamanho (relevante para o espaçamento dos botões) */
    width: 19vw;
    min-width: 184px;
}
/* Ajuste de responsividade */
@media only screen and (min-width: 1200px) {
    .header__navigation {
        min-width: 225px;
    }
}


/* Bloco botão adaptado ao header */
.header__button.button {

    /* Tamanho */
    width: 8.5vw;
    min-width: 86px;
    height: 2.5vw;
    min-height: 30px;

    /* Texto */
    font-family: 'Rubik', Arial, sans-serif;
    font-weight: bold;
    font-size: 10px;
}
/* Ajuste de responsividade */
@media only screen and (min-width: 1200px) {
    .header__button.button {
        /* Texto */
        font-size: .85vw;
        /* Tamanho */
        min-width: 106px;
    }
}


/* ----------------------- BLOCO BUTTON ----------------------- */

/* Botão */
.button {

    /* Tamanho */
    width: 8.5vw;
    min-width: 86px;
    height: 2.5vw;
    min-height: 30px;

    /* Borda */
    border: none;
    /* Valor absoluto muito alto para arredondar 50% da altura */
    border-radius: 9999px;

    /* Texto */
    font-family: 'Rubik', Arial, sans-serif;
    font-weight: bold;
    font-size: 10px;
    letter-spacing: .15em;

    /* Cursor */
    cursor: pointer;

    /* Transição de cor (cores especificadas por tema) */
    transition: background-color ease-out .4s;
}
/* Ajuste de responsividade */
@media only screen and (min-width: 1200px) {
    .button {
        /* Texto */
        font-size: .85vw;
        /* Tamanho */
        min-width: 106px;
    }
}


/* Ícone de botâo */
.button__icon {

    /* Ajuste de posição */
    position: relative;
    top: 1px;

    /* Tamanho */
    height: .75vw;
    min-height: 10px;

    /* Distância do texto */
    margin-right: .5em;
}


/* Tema claro para botões */
.button_theme_light {
    background-color: var(--theme-light);
    color: var(--theme-fundo);
}
.button_theme_light:hover {
    background-color: var(--theme-light-glow);
}
/* Tema escuro para botões */
.button_theme_dark {
    background-color: var(--theme-neutral);
    color: var(--theme-texto);
}
.button_theme_dark:hover {
    background-color: var(--theme-neutral-glow);
}


/* ----------------------- BLOCO LOGIN ----------------------- */

/* Bloco de login */
.login {

    /* Cobrir a página inteira */
    min-height: 100vh;
    min-width: 100%;

    /* Centralizar a caixa de login */
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Caixa contendo os outros elementos */
.login__box {

    /* Posição relativa para o uso de ::before */
    position: relative;

    /* Aparência, sombra e efeito */
    background-color: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 14px;

    /* Espaço e tamanho */
    box-sizing: border-box;
    width: 360px;
    max-width: 82vw;
    padding: 62px 34px;
    margin: 132px 20px 50px;
}
/* Ajuste de responsividade */
@media only screen and (min-width: 1200px) {
    .login__box {
        width: 28.8vw;
        padding: 6.8vw 2.5vw;
        margin: 102px 20px 50px;
    }
}
/* Fundo com transparência */
.login__box::before {
    /* Cobrir todo o elemento */
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* Cor de fundo com transparência */
    background-color: var(--theme-fundo);
    opacity: .3;
    border-radius: 14px;
}


/* Título */
.login__title {

    /* Fonte */
    color: var(--theme-light);
    font-size: 34px;

    /* Espaçamento */
    margin: 0 0 40px;
    text-align: center;
}
/* Ajuste de responsividade */
@media only screen and (min-width: 1200px) {
    .login__title {
        margin: 0 0 3.9vw;
    }
}


/* Container do formulário */
.login__form {

    /* Organização dos elementos */
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
}


/* Campos de texto */
.login__input {

    /* Tamanho e espaçamento */
    width: 100%;
    line-height: 30px;
    margin-bottom: 60px;

    /* Cores */
    background-color: transparent;
    border: none;
    border-bottom: solid 2px #e9e9f057;

    /* Fonte */
    font-size: 17px;
    color: var(--theme-texto);
}
/* Ajuste de responsividade */
@media only screen and (min-width: 1200px) {
    .login__input {
        margin-bottom: 2.3vw;
    }
}
/* Texto placeholder */
.login__input::placeholder {
    color: var(--theme-texto);
    opacity: .75;
}
.login__input::-webkit-input-placeholder {
    color: var(--theme-texto);
    opacity: .75;
}
/* Foco */
.login__input:focus {
    outline: none;
    border-bottom: solid 2px var(--theme-texto);
    transition: border .4s ease;
}


/* Modificações ao bloco button quando usado dentro do bloco login */
.login__button.button {

    /* Tamanho */
    width: 213px;
    height: 58px;
    margin-top: 8px;

    /* Fonte */
    font-size: 18px;
    letter-spacing: 0.03em;
}
/* Ajuste de responsividade */
@media only screen and (min-width: 1200px) {
    .login__button.button {
        margin-top: 1.1vw;
    }
}