/* Paleta de cores */
:root {
    --theme-fundo: 10, 23, 68;
    --theme-texto: 252, 252, 252;
    --theme-light: 114, 239, 219;
    --theme-light-glow: 219, 255, 250;
    --theme-neutral: 30, 62, 123;
    --theme-neutral-glow: 57, 117, 167;
    --theme-shadow: 85, 56, 238;
}


/* Corpo da página - Fundo e características gerais */
body {

    /* Remoção da margem padrão */
    margin: 0;

    /* Fundos: */
        /* Gradiente (meio) */
    background: linear-gradient(180deg, rgba(var(--theme-fundo), 0) 0%, rgb(var(--theme-fundo)) 100%) no-repeat,
        /* Imagem (topo, por baixo do gradiente) */
        url(../../imagens/about-hero-bg.jpg) no-repeat,
        /* Cor (página inteira) */
        rgb(var(--theme-fundo));

    /* Tamanho e posição do gradiente e imagem */
    background-size:  100vw 42vmax, auto 100vmax;
    background-position:  0% 58.5vmax, 0% 0%;

    /* Padrão de texto (fonte e cor) */
    color: rgb(var(--theme-texto));
    font-family: 'Rubik', Arial, sans-serif;
}

/* Ajuste de responsividade */
@media only screen and (min-width: 1200px) {
    body {
        /* Fundos: */
        background-size:  100vw 36vw, contain;
        background-position:  0% 18vw, 0% -2vw;
    }
}


/* Barra de scroll */
body::-webkit-scrollbar {
    /* Largura */
    width: 1em;
}
body::-webkit-scrollbar-track {
    /* Fundo */
    background-color: rgb(var(--theme-neutral));
}
body::-webkit-scrollbar-thumb {
    /* Guia */
    background-color: rgb(var(--theme-fundo));
}


/* ----------------------- BLOCO HEADER ----------------------- */

/* Foco */
.header a:focus {
    outline: rgb(var(--theme-texto)) auto 1px;
    outline-offset: 8px;
}


/* Topo da página */
.header {

    /* Fixação ao topo da página */
    position: fixed;
    top: 0;
    z-index: 1;

    /* Tamanho */
    width: 94vw;
    height: 6vw;
    min-height: 82px;

    /* Cor, sombra e efeito */
    background-color: rgba(var(--theme-fundo), 0.7);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    box-shadow: 0px 3px 29px rgba(var(--theme-shadow), 0.1);

    /* Disposição dos elementos do bloco */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3.8vw 0;
}
/* Ajuste de responsividade */
@media only screen and (min-width: 1200px) {
    .header {
        padding: 0 3vw 0;
    }
}


/* Logo */
.header__logo {

    /* Tamanho */
    height: 2.5vw;
    min-height: 23px;
}


/* Conjunto de botões de navegação */
.header__navigation {

    /* Disposição dos elementos */
    display: flex;
    justify-content: space-between;
    margin-right: .1vw;

    /* Tamanho (relevante para o espaçamento dos botões) */
    width: 19vw;
    min-width: 184px;
}
/* Ajuste de responsividade */
@media only screen and (min-width: 1200px) {
    .header__navigation {
        min-width: 225px;
    }
}


/* Bloco botão adaptado ao header */
.header__button.button {

    /* Tamanho */
    width: 8.5vw;
    min-width: 86px;
    height: 2.5vw;
    min-height: 30px;

    /* Texto */
    font-family: 'Rubik', Arial, sans-serif;
    font-weight: bold;
    font-size: 10px;
}
/* Ajuste de responsividade */
@media only screen and (min-width: 1200px) {
    .header__button.button {
        /* Texto */
        font-size: .85vw;
        /* Tamanho */
        min-width: 106px;
    }
}


/* ----------------------- BLOCO BUTTON ----------------------- */

/* Botão */
.button {

    /* Tamanho */
    width: 8.5vw;
    min-width: 86px;
    height: 2.5vw;
    min-height: 30px;

    /* Borda */
    border: none;
    /* Valor absoluto muito alto para arredondar 50% da altura */
    border-radius: 9999px;

    /* Texto */
    font-family: 'Rubik', Arial, sans-serif;
    font-weight: bold;
    font-size: 10px;
    letter-spacing: .15em;

    /* Cursor */
    cursor: pointer;

    /* Transição de cor (cores especificadas por tema) */
    transition: background-color ease-out .4s;
}
/* Ajuste de responsividade */
@media only screen and (min-width: 1200px) {
    .button {
        /* Texto */
        font-size: .85vw;
        /* Tamanho */
        min-width: 106px;
    }
}
/* Foco - ocorre quando selecionado por TAB, mas também ativa depois de clicado */
.button:focus {
    /* Remoção da outline padrão */
    outline: none;
    /* Remoção da transição, para que a mudança de foco por TAB seja mais visível */
    transition: none;
}


/* Ícone de botâo */
.button__icon {

    /* Ajuste de posição */
    position: relative;
    top: 1px;

    /* Tamanho */
    height: .75vw;
    min-height: 10px;

    /* Distância do texto */
    margin-right: .5em;
}


/* Tema claro para botões */
.button_theme_light {
    background-color: rgb(var(--theme-light));
    color: rgb(var(--theme-fundo));
}
.button_theme_light:hover, .button_theme_light:focus {
    background-color: rgb(var(--theme-light-glow));
}
/* Tema escuro para botões */
.button_theme_dark {
    background-color: rgb(var(--theme-neutral));
    color: rgb(var(--theme-texto));
}
.button_theme_dark:hover, .button_theme_dark:focus {
    background-color: rgb(var(--theme-neutral-glow));
}


/* ----------------------- BLOCO PROJETO ----------------------- */

/* Bloco do projeto */
.projeto {

    /* Disposição dos elementos */
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    /* Margens */
    margin: 127px 7vw 50px;
}
/* Ajuste de responsividade */
@media only screen and (min-width: 1200px) {
    .projeto {
        /* Disposição */
        justify-content: space-between;
        margin: 13vw 7vw 10vw;
    }
}


/* Título */
.projeto__title {

    /* Fonte */
    font-size: 33px;
    font-weight: 700;

    /* Espaçamento */
    line-height: 4.5vw;
    margin: 0 0 31px;
}
/* Ajuste de responsividade */
@media only screen and (min-width: 1200px) {
    .projeto__title {
        /* Fonte */
        font-size: 4.25vw;

        /* Espaçamento */
        margin: 0 0 2vw;
    }
}


/* Texto */
.projeto__text {

    /* Tamanho */
    width: 100%;
    line-height: 26px;

    /* Fonte */
    font-size: 15px;

    /* Margens */
    margin-bottom: 4.5em;
}
/* Ajuste de responsividade */
@media only screen and (min-width: 1200px) {
    .projeto__text {
        /* Fonte */
        font-size: 1vw;
        line-height: 2vw;
        /* Tamanho */
        margin-bottom: 0;
        width: 39vw;
    }
}


/* Ilustração */
.projeto__image {

    /* Tamanho */
    width: 534px;
    max-width: 100%;

    /* Espaçamento */
    margin-top: 2.5vw;
}
/* Ajuste de responsividade */
@media only screen and (min-width: 1200px) {
    .projeto__image {
        height: 27vw;
        width: auto;
    }
}


/* ----------------------- BLOCO EQUIPE ----------------------- */

/* Bloco da equipe */
.equipe {

    /* Margens */
    margin: 0 3.5vw 64px;
}
/* Ajuste de responsividade */
@media only screen and (min-width: 1200px) {
    .equipe {
        margin: 0 0 7.5vw;
    }
}


/* Título */
.equipe__title {

    /* Fonte */
    font-size: 27px;

    /* Tamanho */
    margin: 0 4vw 45px;
    line-height: 3vw;
}
/* Ajuste de responsividade */
@media only screen and (min-width: 1200px) {
    .equipe__title {
        /* Fonte */
        font-size: 2.8vw;
        /* Margem */
        margin: 0 10.8vw 5.5vw;
    }
}


/* Lista de membros */
.equipe__members {

    /* Disposição */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


/* ----------------------- BLOCO PROFILE ----------------------- */

/* Customização do foco automático nos <a> */
.profile a:focus {
    outline: rgb(var(--theme-texto)) auto 1px;
    outline-offset: 4px;
}


/* Bloco dos perfis */
.profile {

    /* Cor e forma */
    background-color: rgba(var(--theme-texto), 0.01);
    border: solid 1px rgba(var(--theme-texto), 0.15);
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(var(--theme-shadow), 0.1);

    /* Tamanho */
    width: 400px;
    max-width: 100%;
    margin: 0 2% 46px;

    /* Texto */
    text-align: center;
}
/* Ajuste de responsividade */
@media only screen and (min-width: 1200px) {
    .profile {
        width: 18.2vw;
        margin: 0 1.1vw 2vw;
    }
}


/* Foto de perfil */
.profile__image {

    /* Tamanho e forma */
    width: 204px;
    max-width: 43vw;
    height: 204px;
    max-height: 43vw;
    object-fit: cover;
    border-radius: 50%;

    /* Margem */
    margin: 36px 4.5vw 22px;
}
/* Ajuste de responsividade */
@media only screen and (min-width: 1200px) {
    .profile__image {
        width: 9.25vw;
        height: 9.25vw;
        margin: 1.8vw 4.5vw 1.1vw;
    }
}


/* Nome */
.profile__name {

    /* Fonte */
    color: rgb(var(--theme-light));
    font-size: 28px;

    /* Margem */
    margin: 0 .75vw 22px;
}
/* Ajuste de responsividade */
@media only screen and (min-width: 1200px) {
    .profile__name {
        font-size: 1.4vw;
        margin: 0 .75vw 1.1vw;
    }
}


/* Descrição */
.profile__text {

    /* Fonte */
    font-size: 19px;
    font-weight: 300;
    color: rgba(var(--theme-texto), 0.8);

    /* Espaçamento */
    line-height: 25px;
    margin: 0 36px 24px;
}
/* Ajuste de responsividade */
@media only screen and (min-width: 1200px) {
    .profile__text {
        font-size: 1vw;
        line-height: 1.3vw;
        margin: 0 1vw 2vw;
    }
}


/* Lista de contatos */
.profile__links {

    /* Disposição */
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* Tamanho */
    width: 34%;
    margin: 0 33% 38px;
}
/* Ajuste de responsividade */
@media only screen and (min-width: 1200px) {
    .profile__links {
        width: 7vw;
        margin: 0 5.6vw 1.8vw;
    }
}


/* Ícones de contato */
.profile__icon {

    /* Tamanho */
    height: 24px;
}
/* Ajuste de responsividade */
@media only screen and (min-width: 1200px) {
    .profile__icon {
        height: 1.25vw;
    }
}


/* ----------------------- BLOCO FOOTER ----------------------- */

/* Bloco do rodapé */
.footer {
    /* Fundo */
    background-color: rgba(var(--theme-neutral), 0.75);
    /* Tamanho */
    position: relative;
    padding: 42px 0;
}
/* Ajuste de responsividade */
@media only screen and (min-width: 1200px) {
    .footer {
        padding: 4.5vw 0;
    }
}


/* Texto */
.footer__text {

    /* Fonte */
    font-size: 12px;
    font-weight: 300;

    /* Espaçamento */
    text-align: center;
    margin: 0;
}
/* Ajuste de responsividade */
@media only screen and (min-width: 1200px) {
    .footer__text {
        font-size: 1.3vw;
    }
}