/* Botão */
.button {

    /* Tamanho */
    width: 8.5vw;
    min-width: 86px;
    height: 2.5vw;
    min-height: 30px;

    /* Borda */
    border: none;
    /* Valor absoluto muito alto para arredondar 50% da altura */
    border-radius: 9999px;

    /* Texto */
    font-family: 'Rubik', Arial, sans-serif;
    font-weight: bold;
    font-size: 10px;
    letter-spacing: .15em;

    /* Cursor */
    cursor: pointer;

    /* Transição de cor (cores especificadas por tema) */
    transition: background-color ease-out .4s;
}
/* Ajuste de responsividade */
@media only screen and (min-width: 1200px) {
    .button {
        /* Texto */
        font-size: .85vw;
        /* Tamanho */
        min-width: 106px;
    }
}


/* Ícone de botâo */
.button__icon {

    /* Ajuste de posição */
    position: relative;
    top: 1px;

    /* Tamanho */
    height: .75vw;
    min-height: 10px;

    /* Distância do texto */
    margin-right: .5em;
}


/* Tema claro para botões */
.button_theme_light {
    background-color: var(--theme-light);
    color: var(--theme-fundo);
}
.button_theme_light:hover {
    background-color: var(--theme-light-glow);
}
/* Tema escuro para botões */
.button_theme_dark {
    background-color: var(--theme-neutral);
    color: var(--theme-texto);
}
.button_theme_dark:hover {
    background-color: var(--theme-neutral-glow);
}