/* Bloco do rodapé */
.footer {

    /* Tamanho */
    position: relative;
    padding: 42px 0;
}
/* Ajuste de responsividade */
@media only screen and (min-width: 1200px) {
    .footer {
        padding: 4.5vw 0;
    }
}
.footer::before {
    /* Cobrir todo o fundo do bloco footer */
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* Cor de fundo com transparência */
    background-color: var(--theme-neutral);
    opacity: .75;
}


/* Texto */
.footer__text {

    /* Fonte */
    font-size: 12px;
    font-weight: 300;

    /* Espaçamento */
    text-align: center;
    margin: 0;
}
/* Ajuste de responsividade */
@media only screen and (min-width: 1200px) {
    .footer__text {
        font-size: 1.3vw;
    }
}