/* Topo da página */
.header {

    /* Fixação ao topo da página */
    position: fixed;
    top: 0;
    z-index: 1;

    /* Tamanho */
    width: 94vw;
    height: 6vw;
    min-height: 82px;

    /* Sombra e efeito */
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    box-shadow: 0px 3px 29px var(--theme-shadow);

    /* Disposição dos elementos do bloco */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3.8vw 0;
}
/* Ajuste de responsividade */
@media only screen and (min-width: 1200px) {
    .header {
        padding: 0 3vw 0;
    }
}
/* Fundo */
.header::before {
    /* Cobrir todo o fundo do bloco header */
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* Cor de fundo com transparência */
    background-color: var(--theme-fundo);
    opacity: .7;
}


/* Logo */
.header__logo {

    /* Tamanho */
    height: 2.5vw;
    min-height: 23px;
}


/* Conjunto de botões de navegação */
.header__navigation {

    /* Disposição dos elementos */
    display: flex;
    justify-content: space-between;
    margin-right: .1vw;

    /* Tamanho (relevante para o espaçamento dos botões) */
    width: 19vw;
    min-width: 184px;
}
/* Ajuste de responsividade */
@media only screen and (min-width: 1200px) {
    .header__navigation {
        min-width: 225px;
    }
}


/* Bloco botão adaptado ao header */
.header__button.button {

    /* Tamanho */
    width: 8.5vw;
    min-width: 86px;
    height: 2.5vw;
    min-height: 30px;

    /* Texto */
    font-family: 'Rubik', Arial, sans-serif;
    font-weight: bold;
    font-size: 10px;
}
/* Ajuste de responsividade */
@media only screen and (min-width: 1200px) {
    .header__button.button {
        /* Texto */
        font-size: .85vw;
        /* Tamanho */
        min-width: 106px;
    }
}