/* Remoção do estilo padrão dos elementos <a> */
a {
    text-decoration: none;
}


/* Imagem do twitter */
.image {
    /* Background */
    background:
        /* Gradiente preto para esclarecer o texto */
        linear-gradient(180deg, #00000000 0%, #000000c4 100%) no-repeat,
        /* Fundo padrão, substituído pela imagem carregada por javascript */
        #1E3E7B;
    background-size: 100% 40%;
    background-position: 0% 100%;
    border-radius: 21px;
    /* Tamanho */
    box-sizing: border-box;
    /* Organização dos elementos */
    /* Também remove o display padrão de <li>, que contém o ponto */
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
}


/* "Postado por" */
.image__text {
    /* Fonte */
    font-size: 10px;
    /* Espaço */
    margin: 0 0 .3em;
}
/* Responsividade em telas maiores */
@media only screen and (min-width: 1200px) {
    .image__text {
        font-size: 17px;
    }
}


/* Nome de usuário */
.image__user {
    /* Fonte */
    font-size: 12px;
    font-weight: bold;
    color: white;
    /* Espaço */
    margin: 0;
    /* Vazamento */
    overflow: hidden;
    text-overflow: ellipsis;
}
/* Responsividade em telas maiores */
@media only screen and (min-width: 1200px) {
    .image__user {
        font-size: 1.1vw;
    }
}
