/* Bloco de aba selecionável */
.tab {
    /* Fonte */
    font-size: 16px;
    font-weight: 500;
    color: var(--theme-texto);
    /* Fundo e borda */
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--theme-texto);
}


/* Aba selecionada */
.tab_selected {
    color: var(--theme-light);
    border-bottom: 3px solid var(--theme-light);
}