/* Remoção do estilo padrão dos elementos <a> */
a {
    text-decoration: none;
}


/* Bloco de tweet */
.tweet {
    /* Posição relativa, somente para o uso de ::before e ::after */
    position: relative;
    /* Organização e espaço */
    display: flex;
    padding: 5vw 3.6vw;
    margin: 0 0 30px;
    /* Tamanho */
    box-sizing: border-box;
    width: 100%;
}
/* Responsividade em telas maiores */
@media only screen and (min-width: 1200px) {
    .tweet {
        padding: 2.2vw 2.6vw;
        margin: 0 0 2vw;
    }
}
/* Fundo */
.tweet::before {
    /* Cobrir todo o fundo do bloco tweet */
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* Cor de fundo com transparência */
    background-color: var(--theme-texto);
    border: 1px solid var(--theme-texto);
    opacity: .015;
    border-radius: 15px;
}
/* Borda */
.tweet::after {
    /* Cobrir todo o fundo do bloco tweet */
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    /* Cor de borda com transparência */
    border: 1px solid var(--theme-texto);
    opacity: .15;
    border-radius: 15px;
    /* Não bloquear o cursor */
    pointer-events: none;
}


/* Foto de perfil */
.tweet__image {
    /* Tamanho */
    width: 13vw;
    height: 13vw;
    /* Arredondamento */
    border-radius: 50%;
}
/* Responsividade em telas maiores */
@media only screen and (min-width: 1200px) {
    .tweet__image {
        width: 4.3vw;
        height: 4.3vw;
    }
}


/* Resto do tweet */
.tweet__main {
    /* Tamanho e espaço */
    flex-grow: 1;
    margin: 0 0 0 3.4vw;
    /* Itens de flex tem "min-width: auto" por padrão. Isso previne que o item cresça para conter o texto */
    min-width: 0;
}
/* Responsividade em telas maiores */
@media only screen and (min-width: 1200px) {
    .tweet__main {
        margin: 0 0 0 1.5vw;
    }
}


/* Primeira linha */
.tweet__author {
    display: flex;
    align-items: baseline;
}


/* Nome de display de usuário */
.tweet__user {
    /* Fonte */
    font-size: 14px;
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
    /* Espaço */
    margin: 0 2.2vw 0 0;
    overflow: hidden;
}
/* Responsividade em telas maiores */
@media only screen and (min-width: 1200px) {
    .tweet__user {
        font-size: 1.4vw;
        margin: 0 .9vw 0 0;
    }
}


/* @ do usuário */
.tweet__at {
    /* Fonte */
    font-size: 10px;
    color: var(--theme-texto);
    opacity: .45;
    /* Espaço */
    margin: 0;
}
/* Responsividade em telas maiores */
@media only screen and (min-width: 1200px) {
    .tweet__at {
        font-size: 1.1vw;
    }
}


/* Organização e espaço */
.tweet__text {
    /* Fonte */
    font-size: 12px;
    /* Espaço */
    margin: 1.2vw 0 2.6vw;
}
/* Responsividade em telas maiores */
@media only screen and (min-width: 1200px) {
    .tweet__text {
        font-size: 1vw;
        margin: .3vw 0 1.2vw;
    }
}


/* Link para o Twitter */
.tweet__link {
    /* Fonte */
    color: var(--theme-light);
    transition: color .4s ease;
    font-size: 10px;
    /* Espaço */
    margin: 0;
}
/* Responsividade em telas maiores */
@media only screen and (min-width: 1200px) {
    .tweet__link {
        font-size: 1.1vw;
    }
}
.tweet__link:hover {
    color: var(--theme-light-glow);
}